<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="csvFileReader" class="ru.svirida.service.impl.CsvFileReaderImpl">
        <constructor-arg name="questionResource" value="question.csv"/>
    </bean>

    <bean id="estimate" class="ru.svirida.service.impl.EstimateImpl">
    </bean>

    <bean id="testing" class="ru.svirida.service.impl.TestingImpl">
        <constructor-arg name="questionReader" ref="csvFileReader"/>
        <constructor-arg name="estimate" ref="estimate"/>
    </bean>
</beans>